<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" tempDirectory="C:\Inetpub\vhosts\asiabrightway.com\tmp" />
  </system.web>
  <appSettings>
    <add key="MailSendWebService.WebService" value="http://localhost:1057/SMSP20171117/WebService.asmx" />
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="home.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>